<p>
  Đây là note list
</p>
<table class='table table-responsive'>
  <thead>
    <th>ID</th>
    <th>Title </th>
    <th>Description</th>
    <th>Finished</th>
    <th>NotebookId</th>
    <!-- <th>Created By</th>
    <th>Created On</th>
    <th>Updated By</th>
    <th>Updated On</th> -->
    <th>Detail</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tr *ngFor='let note of notes;'>
    <td>{{note.id}}</td>
    <td>{{note.title }}</td>
    <td>{{note.description}}</td>
    <td>{{note.finished}}</td>
    <td>{{note.notebookId}}</td>
    <!-- <td>{{note.createdBy}}</td>
    <td>{{note.createdOn}}</td>
    <td>{{note.updatedBy}}</td>
    <td>{{note.updatedOn}}</td> -->
    <!-- <td>{{note.deleted}}</td> -->
    <td><button class='btn btn-light' (click)="getNote(note.id)"> Tick </button></td>
    <td><button class='btn btn-light' [routerLink]="['/note/edit',note.id]"> Edit </button></td>
    <td><button class='btn btn-light' (click)="deleteNote(note.id)"> X </button></td>
  </tr>
</table>
