<p>
  edit-note works!
</p>
<!--
<div class="col-8" [formGroup]="form" (ngSubmit)="onSubmit()" >
  <form [formGroup]="editnoteForm" >
    <div class="form-group">
      <label>Tittle</label>
      <input class="form-control" formControlName="tittle">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input class="form-control" formControlName="description">
    </div>
    <div class="form-group">
      <label>NotebookId</label>
      <input class="form-control" formControlName="notebookid">
    </div>
    <div class="form-group">
      <label>Is Finished?</label>
      <input type="checkbox" class="form-control" formControlName="notebookid">
    </div>

  </form>
</div> -->
<form (ngSubmit)="onSumit()" *ngIf="note">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="note.title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" type="text" class="form-control" name="description" [(ngModel)]="note.description">
  </div>
  <div class="form-group">
    <label>NotebookId</label>
    <select (change)="selectedOption($event.target.value)" name="notebookid" id="notebookid" class="form-control">
      <option [value]="1">1</option>
      <option [value]="2">2</option>
      <option [value]="3">3</option>
    </select>
  </div>
  <div class="form-group">
    <div class="form-control">
      <label class="checkbox-inline">
        <input type="checkbox" name="isDone" [(ngModel)]="note.isdone">Is Done?
      </label>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>
