
    <!-- <form [formGroup]="noteForm" (ngSubmit)=" Update()">
      <div class="form-group">
        
        <label for="exampleFormControlInput1">Title</label>
        <input type="text" class="form-control"  formControlName="title" placeholder="Title"  [ngClass]="{ 'is-invalid': submitted && formData.title.errors }">
      </div>
      <div class="form-group">
          <label for="exampleFormControlInput1">description  </label>
          <input type="text" class="form-control"  formControlName="description" placeholder="description"  [ngClass]="{ 'is-invalid': submitted && formData.description.errors }">
        </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ID book </label>
        <input type="text" class="form-control" formControlName="idbook" placeholder="Id book"  [ngClass]="{ 'is-invalid': submitted && formData.idbook.errors }">
      </div>
   
        <button  [disabled]="submitClick"  class="btn btn-primary">Update</button>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="submit" class="btn btn-primary"routerLink="/note" routerLinkActive="active">List</button>
    </form> -->
    <form [formGroup]="noteForm" (ngSubmit)="Update()">
      <div class="form-group">
        
        <label for="exampleFormControlInput1">Title</label>
        <input type="text" class="form-control"  formControlName="title" placeholder="Title"  [ngClass]="{ 'is-invalid': submitted && formData.title.errors }">
      </div>
      <div class="form-group">
          <label for="exampleFormControlInput1">description  </label>
          <input type="text" class="form-control"  formControlName="description" placeholder="description"  [ngClass]="{ 'is-invalid': submitted && formData.description.errors }">
        </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ID book </label>
        <input type="text" class="form-control" formControlName="idbook" placeholder="Id book"  [ngClass]="{ 'is-invalid': submitted && formData.idbook.errors }">
      </div>
   
        <button  [disabled]="submitClick"  class="btn btn-primary">Update</button>

        <button type="submit" class="btn btn-primary"routerLink="/note" routerLinkActive="active">List</button>
    </form>
 