<table>
  <thead>
      <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>CreatedBy</th>
          <th>Created On</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let note of notes;">
          <td>{{note.id }}</td>
          <td>{{note.title }}</td>
          <td>{{note.description }}</td>
          <td>{{note.CreatedBy}}</td>
          <td>{{note.CreatedOn | date:'dd/MM/y'}}</td>
      </tr>
      <tr *ngIf="!notes || notes.length==0">
          <td colspan="5">
              No notes to display
          </td>
      </tr>
  </tbody>
</table>
