<p>
  add-note works!
</p>
<div class="col-8">
<form [formGroup]="addnoteForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Tittle</label>
    <input class="form-control" formControlName="tittle">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" formControlName="description">
  </div>
  <div class="form-group">
    <label>NotebookId</label>
    <select (change)="selectedOption($event.target.value)" name="notebookid" id = "notebookid" class="form-control" >
      <option [value]="1">1</option>
      <option [value]="2">2</option>
      <option [value]="3">3</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Add</button>
  </div>
</form>
</div>
