.btn-facebook {
    background: #3B5998;
    color: #fff;
    border-color: #263961; 
    padding: 13px;
    border-radius: 50px;
    
  }
  .btn-facebook:link, .btn-facebook:visited {
    color: #fff;
  }
  .btn-facebook:active, .btn-facebook:hover {
    background: #263961;
    color: #fff;
  }